/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  font-family: 'Lexend', sans-serif;
}

.header{
  display: flex;
  margin: 1rem; 
}

.header .timer {
  margin-left: 20%;
  justify-content: center;
}

/* .header .search-options{
  margin-left: 10%
} */

.genre-buttons{
  margin: 1rem;
}

button{
  background: white;
  border: 0;
  border-radius: 5%;


}


.best-so-far{
  display: none;
}

.bold{
  font-weight: 700;
}

footer{
  display: block;
  padding-top: 10%;
  margin: 1rem;
}

.attributes {
  padding-top: 1rem;
} 

footer img{
  display: block;
  /* margin: 0 auto; */
  width: 10rem
}




@media screen and (max-width: 600px) {

  .genre-buttons button{
    padding: .5rem;
    margin: .2rem;
  }

  .poster{
    display: block;
    border-radius: 5%;
    margin: 2rem auto;
    max-width: 12.5rem;
  }

  .result-details{
    display: block;
    margin: .5rem
  }

  .movie-result {
    margin: .5rem;
  }

  
}

@media only screen and (min-width: 600px) {

  .header{
    margin-bottom: 2rem;
  }
  
  .genre-buttons{
    margin: 1rem 1rem 3rem 1rem;
  }

  .genre-buttons button{
    padding: 1rem;
    margin: .5rem;
  }
  
  .movie-result {
    display: flex;
    margin: 1rem;
  }

  .poster{
    flex-basis: 33.33%;
    border-radius: 5%;
    margin: 1rem 3rem;
    max-width: 18.75rem;
  
  }
  
  .result-details{
    flex-basis: 66.66%;
    margin: 1rem;
  }

  

  
  

  

  

  

  

}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/



/* Diagonal color gradient */

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: none ;
    /* animation: gradient 15s ease infinite; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}